Repository rapidsai/rapids-dask-dependency, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cudf-dask-codeowners, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Prepare release/26.02
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Owners: @rapidsai/ci-codeowners

Revert "Prepare release/26.02"
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Owners: @rapidsai/ci-codeowners

Update to 26.04.00
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Update to 26.04 (#141)
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Update to dask==2026.1.1
  dependencies.yaml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

restore branches
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Owners: @rapidsai/ci-codeowners

Fix target version
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Update to dask==2026.1.1 (#142)
  dependencies.yaml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

fix(build): build package on merge to `release/*` branch
  .github/workflows/build.yaml
Owners: @rapidsai/ci-codeowners

fix(build): build package on merge to `release/*` branch (#144)
  .github/workflows/build.yaml
Owners: @rapidsai/ci-codeowners

Update to Dask 2025.9.2
  conda/recipes/rapids-dask-dependency/recipe.yaml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Update Dask to 2026.1.1
  conda/recipes/rapids-dask-dependency/recipe.yaml
Owners: @rapidsai/packaging-codeowners

Add pre-commit hook to check dask version consistency
  .pre-commit-config.yaml
  ci/check_dask_versions.py
Owners: @rapidsai/packaging-codeowners, @rapidsai/ci-codeowners

Update Conda recipe's Dask to 2026.1.1 (#147)
  conda/recipes/rapids-dask-dependency/recipe.yaml
Owners: @rapidsai/packaging-codeowners

Add pre-commit hook to check dask version consistency (#148)
  .pre-commit-config.yaml
  ci/check_dask_versions.py
Owners: @rapidsai/packaging-codeowners, @rapidsai/ci-codeowners

Update to Dask 2025.9.2
  conda/recipes/rapids-dask-dependency/recipe.yaml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Update to Dask 2025.9.2 (#146)
  conda/recipes/rapids-dask-dependency/recipe.yaml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

REL v25.12.01 release
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

enforce wheel size limits, PEP 639 metadata
  .pre-commit-config.yaml
  ci/build_wheel.sh
  ci/validate_wheel.sh
  pyproject.toml
Owners: @rapidsai/packaging-codeowners, @rapidsai/ci-codeowners

enforce wheel size limits, PEP 639 metadata (#150)
  .pre-commit-config.yaml
  ci/build_wheel.sh
  ci/validate_wheel.sh
  pyproject.toml
Owners: @rapidsai/packaging-codeowners, @rapidsai/ci-codeowners

Revert "Prepare release/26.04"
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Owners: @rapidsai/ci-codeowners

Prepare release/26.04
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Owners: @rapidsai/ci-codeowners

Update to 26.06.00
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Update to 26.06 (#151)
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

use a version range for pins
  ci/check_dask_versions.py
  conda/recipes/rapids-dask-dependency/recipe.yaml
  dependencies.yaml
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

use a version range for pins (#152)
  ci/check_dask_versions.py
  conda/recipes/rapids-dask-dependency/recipe.yaml
  dependencies.yaml
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

feat: add zizmor config and pre-commit
  .github/zizmor.yml
  .pre-commit-config.yaml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

fix(ci): set explicit permissions per-job
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Owners: @rapidsai/ci-codeowners

fix(ci): pin third-party actions
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

fix(ci): set secrets explicitly where possible
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Owners: @rapidsai/ci-codeowners

fix(ci): don't persist credentials
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

fix(ci): suppress pull-request-target warning
  .github/workflows/trigger-breaking-change-alert.yaml
Owners: @rapidsai/ci-codeowners

fix(ci): resolve all zizmor findings and add zizmor pre-commit checks (#153)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  .github/zizmor.yml
  .pre-commit-config.yaml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Prepare release/26.06
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Owners: @rapidsai/ci-codeowners

Revert "Prepare release/26.06"
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Owners: @rapidsai/ci-codeowners

Update to 26.08.00
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Update to 26.08 (#154)
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

.github/CODEOWNERS:

# default if no other rules below are matched
* @rapidsai/cudf-dask-codeowners

# CI code owners
/.github/                 @rapidsai/ci-codeowners
/ci/                      @rapidsai/ci-codeowners

# packaging codeowners
/conda/                   @rapidsai/packaging-codeowners
dependencies.yaml         @rapidsai/packaging-codeowners
*.pth                     @rapidsai/packaging-codeowners
pyproject.toml            @rapidsai/packaging-codeowners
/.pre-commit-config.yaml  @rapidsai/packaging-codeowners
setup.py                  @rapidsai/packaging-codeowners
