Repository rapidsai/rapids-dask-dependency, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cudf-dask-codeowners, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Deprecate UCX-Py backends
  rapids_dask_dependency/patches/distributed/comm/__rdd_patch_ucx.py
Owners: @rapidsai/cudf-dask-codeowners

Fix style
  rapids_dask_dependency/patches/distributed/comm/__rdd_patch_ucx.py
Owners: @rapidsai/cudf-dask-codeowners

Deprecate UCX-Py backends (#120)
  rapids_dask_dependency/patches/distributed/comm/__rdd_patch_ucx.py
Owners: @rapidsai/cudf-dask-codeowners

configuring repo for automatic release notes generation
  .github/release.yml
Owners: @rapidsai/ci-codeowners

Pin to Dask/Distributed 2025.9.1
  conda/recipes/rapids-dask-dependency/recipe.yaml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Remove UCXX proxy backend
  rapids_dask_dependency/patches/distributed/comm/__rdd_patch_ucx.py
  rapids_dask_dependency/patches/distributed/comm/ucx.py
Owners: @rapidsai/cudf-dask-codeowners

Disable automatic CI on draft PRs
  .github/copy-pr-bot.yaml
Owners: @rapidsai/ci-codeowners

Disable automatic CI on draft PRs (#124)
  .github/copy-pr-bot.yaml
Owners: @rapidsai/ci-codeowners

Pin to Dask/Distributed 2025.9.1 (#122)
  conda/recipes/rapids-dask-dependency/recipe.yaml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

DOC v25.12 Updates
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Remove UCXX proxy backend (#123)
  rapids_dask_dependency/patches/distributed/comm/__rdd_patch_ucx.py
  rapids_dask_dependency/patches/distributed/comm/ucx.py
Owners: @rapidsai/cudf-dask-codeowners

Merge pull request #121 from AyodeAwe/auto-release-notes
  .github/release.yml
Owners: @rapidsai/ci-codeowners

Use main branch
  .github/workflows/build.yaml
Owners: @rapidsai/ci-codeowners

Use main branch (#128)
  .github/workflows/build.yaml
Owners: @rapidsai/ci-codeowners

Add xfail to failing tests in `test_patch.py`
  tests/test_patch.py
Owners: @rapidsai/cudf-dask-codeowners

Add xfail to failing tests in `test_patch.py` (#129)
  tests/test_patch.py
Owners: @rapidsai/cudf-dask-codeowners

Python 3.14 compatibility for test_patch
  tests/test_patch.py
Owners: @rapidsai/cudf-dask-codeowners

Fix test_distributed
  tests/test_patch.py
Owners: @rapidsai/cudf-dask-codeowners

partial revert
  tests/test_patch.py
Owners: @rapidsai/cudf-dask-codeowners

use tmp_path
  tests/test_patch.py
Owners: @rapidsai/cudf-dask-codeowners

Python 3.14 compatibility for test_patch (#132)
  tests/test_patch.py
Owners: @rapidsai/cudf-dask-codeowners

updated build workflows to use new branching strategy and removed references to branch-
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  ci/release/update-version.sh
Owners: @rapidsai/ci-codeowners

updated to use consistently in update-version.sh
  ci/release/update-version.sh
Owners: @rapidsai/ci-codeowners

refactored update-version.sh to handle new branching strategy (#133)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  ci/release/update-version.sh
Owners: @rapidsai/ci-codeowners

Update to 26.02.00
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Update to 26.02 (#134)
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Update for release branch release/25.12
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Owners: @rapidsai/ci-codeowners

Revert "Forward-merge release/25.12 into main"
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Owners: @rapidsai/ci-codeowners

Revert "Forward-merge release/25.12 into main" (#136)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Owners: @rapidsai/ci-codeowners

Enable merge barriers
  .github/ops-bot.yaml
Owners: @rapidsai/ci-codeowners

Enable merge barriers (#137)
  .github/ops-bot.yaml
Owners: @rapidsai/ci-codeowners

Bump to dask==2025.12.0
  conda/recipes/rapids-dask-dependency/recipe.yaml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Bump to dask==2025.12.0 (#138)
  conda/recipes/rapids-dask-dependency/recipe.yaml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Use SPDX license identifiers in pyproject.toml, bump build dependency floors
  conda/recipes/rapids-dask-dependency/recipe.yaml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

add setuptools floor, remove [tool.setuptools] table
  .pre-commit-config.yaml
  conda/recipes/rapids-dask-dependency/recipe.yaml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

use rapids-dependency-file-generator, update pre-commit hooks
  .pre-commit-config.yaml
  dependencies.yaml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

commit pyproject.toml changes
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Use SPDX license identifiers in pyproject.toml, bump build dependency floors (#139)
  .pre-commit-config.yaml
  conda/recipes/rapids-dask-dependency/recipe.yaml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

setuptools floor
  dependencies.yaml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

use rapids-dependency-file-generator, update pre-commit hooks (#140)
  .pre-commit-config.yaml
  dependencies.yaml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

.github/CODEOWNERS:

# default if no other rules below are matched
* @rapidsai/cudf-dask-codeowners

# CI code owners
/.github/                 @rapidsai/ci-codeowners
/ci/                      @rapidsai/ci-codeowners

# packaging codeowners
/conda/                   @rapidsai/packaging-codeowners
dependencies.yaml         @rapidsai/packaging-codeowners
*.pth                     @rapidsai/packaging-codeowners
pyproject.toml            @rapidsai/packaging-codeowners
/.pre-commit-config.yaml  @rapidsai/packaging-codeowners
setup.py                  @rapidsai/packaging-codeowners
